#calHeader > div {
    height: 30px;
}

#selectedDateDisplay{
    font-size: 24px;
    grid-column-start: span 7;
}

#monthYearDisplay {
    grid-column-start: span 5;
}

#calGrid {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap:5px;
    padding: 5px;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: 40px 15px repeat(5, 50px) 25px;
}



#calGrid, #laneNumPickerContainer, #timePickerContainer, .bookerButton {
    margin: auto;
    background-color: #f6f6f6;
    width: fit-content;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
} 

.bookerButton {
    width: 200px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#calGrid > div, #laneNumPickerContainer > div, #timePickerScroller > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#laneNumPickerContainer {
    display: flex;
    justify-content: center;
}

.clickableTile {
    border: 1px solid black;
}

.selectedTile {
    background-color: gray;
}

.laneButton {
    height: 50px;
    width: 50px;
    font-size: 24px;
}

#laneNumDisplay {
    height: 50px;
    width: 50px;
    font-size: 24px;
}

#timePickerContainer {
    height: 400px;
    overflow: auto;
}

#timePickerScroller {
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.timeTile {
    height: 50px;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
