#calHeader > div {
    height: 30px;
}

#selectedDateDisplay{
    font-size: 24px;
    grid-column-start: span 7;
}

#monthYearDisplay {
    grid-column-start: span 5;
}

#calGrid {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap:5px;
    padding: 5px;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: 40px 15px repeat(5, 50px) 25px;
}



#calGrid, #laneNumPickerContainer, #numHoursPickerContainer, #timePickerContainer, .bookerButton {
    margin: auto;
    background-color: #f6f6f6;
    width: fit-content;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
} 

.bookerButton {
    width: 200px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#calGrid > div, #laneNumPickerContainer > div, #numHoursPickerContainer > div, #timePickerScroller > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#laneNumPickerContainer, #numHoursPickerContainer {
    display: flex;
    justify-content: center;
}

.clickableTile, .slotTile {
    border: 1px solid black;
}

.selectedTile {
    background-color: gray;
}

.incDecButton {
    height: 50px;
    width: 50px;
    font-size: 24px;
}

#laneNumDisplay, #numHoursDisplay{
    height: 50px;
    width: 50px;
    font-size: 24px;
}

#timePickerContainer {
    height: 400px;
    overflow: auto;
}

#timePickerScroller {
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.timeTile {
    height: 50px;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#slotPickerContainer {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#slotBoundary {
    margin-top: 95px;
    order: 2;
}

.slotTile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 1;
    margin-bottom: 5px;
}

.slotTile > h1 {
    font-size: 22px;
}

.slotTile > h2 {
    font-size: 16px;
}

.indoorSlotTile {
    background-color: #d3d3d3;
}

.selectedSlotTile {
    border: 5px solid #52d6f4;
    order: 3;
}
