
#bookingContainer h2 {
    margin-top: 50px;
}

#calHeader > div {
    height: 30px;
}

#selectedDateDisplay{
    font-size: 24px;
    grid-column-start: span 7;
}

#monthYearDisplay {
    grid-column-start: span 5;
}

#calGrid {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap:5px;
    padding: 5px;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: 40px 15px repeat(5, 50px) 25px;
}



#calGrid, #timePickerContainer, .bookerButton {
    margin: auto;
    background-color: #f6f6f6;
    width: fit-content;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
} 

.bookerButton {
    width: 200px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#calGrid > div, .numPickerContainer > div, #timePickerScroller > div,
.slotTile > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numPickerContainer  {
    margin-left: 30%;
    display: flex;
    justify-content: flex-start;
}

.numPickerContainer > div {
    background-color: #f6f6f6;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}

.numPickerContainer > p {
    width: 15%;
    font-size: 22px;
    padding-right: 20px;
}

.clickableTile, .slotTile {
    border: 1px solid black;
}

.selectedTile {
    background-color: gray;
}

.incDecButton {
    height: 50px;
    width: 50px;
    font-size: 24px;
}

.numDisplay {
    height: 50px;
    width: 50px;
    font-size: 24px;
}

#timePickerContainer {
    height: 400px;
    overflow: auto;
}

#timePickerScroller {
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.timeTile {
    height: 50px;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#slotPickerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#slotBoundary {
    margin-top: 95px;
    order: 2;
}

.slotTile {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    order: 1;
    margin-bottom: 5px;
}

.slotTile > h1 {
    font-size: 22px;
}

.slotTile > p {
    font-size: 20px;
}

.indoorSlotTile {
    background-color: #d3d3d3;
}

.selectedSlotTile {
    width: 100%;
    border: 5px solid #52d6f4;
    order: 3;
}

.hidden {
    display: none;
}

.error {
    background-color: red;
}
